<div class="task-pan dashboard-pan">

    <table id="myTable1" class="table table-hover table-bordered">

        <tbody>
            <tr>
                <td> Date: {{ date | date:'dd/MM/yyyy' }} </td>
                <td>Driver name: {{name}}</td>
                <td>Vehicle No: {{vehicleNo}}</td>
            </tr>
            <tr>
                <td> CabTime: {{cabTime}} </td>
                <td> Route: {{route}} </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 dashboard-border release-name">

        <div class="div-delay-status" style="text-align: center;">
            <span class="delay-status">List of employee with confirmed seat</span>
            <!--<span class="delay-status">         Route:{{route}} </span>
            <span class="delay-status">         CabTime:{{cabTime}} </span>
            <span class="delay-status" style="padding-right: 5px;">     Date: {{ date | date:'dd/MM/yyyy' }}         </span>-->
        </div>
    </div>
    <!--<div *ngIf="name" class="col-md-12 dashboard-border release-name">
        <div class="div-delay-status">
            <span class="delay-status" style="padding-right: 5px;">Vehicle No:{{vehicleNo}}</span>
            <span class="delay-status" style="padding-right: 5px;">Driver name:{{name}} </span>
            <span class="delay-status" style="padding-right: 5px;">Mobile No:{{mobileNo}}</span>
        </div>
    </div>-->



    <div class="col-md-12 dashboard-border dashboard-chart-pan">
        <div class="panel panel-default" style="margin-top:1% ">
            <div class="bar-panel-height">
                <table id="myTable" class="table table-hover table-bordered">
                    <thead>
                        <tr>

                            <th>CT ID</th>
                            <th>Name</th>
                            <th>Mobile No.</th>
                            <th>Booking DateTime</th>
                            <th>Journey Date</th>
                            <th>Booking Status</th>
                            <th><span id="hide"> Action</span></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let CabData of cabList '>
                            <td>{{CabData.CTID}}</td>
                            <td>{{CabData.TravellerName}}</td>
                            <td>{{CabData.MobileNo}}</td>
                            <td>{{CabData.Date}}</td>
                            <td>{{CabData.JourneyDate}}</td>
                            <td> <span *ngIf="CabData.waiting > 0" >WL- {{CabData.waiting}}</span>
                            <span *ngIf="CabData.waiting == 0" > Confirm</span> </td>
                            <td><button class="btn btn-sm btn-danger" (click)="cancelBooking(CabData.BookingId)">Cancel</button>                                </td>
                        </tr>

                    </tbody>
                </table>
                <div class="col-sm-10"> <button class="btn btn-sm btn-success glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target="#driverModal"> Driver</button>
                </div>
                <div class="col-sm-2"><button class="btn btn-sm btn-success glyphicon glyphicon-print " id="btnPrint" (click)="print()">  Print </button></div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-12 dashboard-border release-name">

        <div class="col-md-8 div-delay-status">
            <span class="delay-status" style="padding-right: 5px;">Vehicle No:{{vehicleNo}}</span>
            <span class="delay-status" style="padding-right: 5px;">Driver name:{{driverName}} </span>
            <span class="delay-status" style="padding-right: 5px;">Mobile No:{{mobileNo}}</span>
        </div>


    </div>-->

</div>

<div class="modal fade" id="driverModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Driver Details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate name="driverForm" [formGroup]="driverForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="vehicleNo">vehicle No:</label>
                        <div class="col-sm-9">
                            <input type="text" maxlength="10" class="form-control" autocomplete="off" placeholder="MH04-0690" formControlName="vehicleNo" [(ngModel)]="vehicleNo"
                                id="vehicleNo">

                                <div *ngIf="driverForm.controls.vehicleNo.invalid && driverForm.controls.vehicleNo.touched">
                                    <p class="text-danger" *ngIf="driverForm.controls.vehicleNo.hasError('pattern')"> Please enter correct vehicleNo </p>
                                    <p class="text-danger" *ngIf="driverForm.controls.vehicleNo.hasError('required')"> vehicle Number is required</p>
                                </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Name:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="20" autocomplete="off" formControlName="name" [(ngModel)]="name" id="name">

                            <div *ngIf="driverForm.controls.name.touched && driverForm.controls.name.invalid">
                                <p class="text-danger" *ngIf="driverForm.controls.name.hasError('pattern')"> Please enter correct name </p>
                                <p class="text-danger" *ngIf="driverForm.controls.name.hasError('required')"> name is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mobile">Mobile no:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" ng-minlength="10" ng-maxlength="10" autocomplete="off" formControlName="mobileNo"
                                [(ngModel)]="mobileNo" id="mobile">

                                <div *ngIf="driverForm.controls.mobileNo.invalid && driverForm.controls.mobileNo.touched">
                                    <p class="text-danger" *ngIf="driverForm.controls.mobileNo.hasError('pattern')"> Please enter correct mobile number </p>
                                    <p class="text-danger" *ngIf="driverForm.controls.mobileNo.hasError('required')"> Mobile number is required</p>
                                </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" [disabled]="!driverForm.valid" data-dismiss="modal" (click)="addDriverDetail()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>